name: Containers

on: push

jobs:
    docker-steps:
      runs-on: ubuntu-latest
      container:
        image: node: node:10.18.0-jessie
      steps:
        - name: log node version
          run: node -v
        - name: Step with docker-steps
          uses: docker://node:12.14.1-alpine3.10
          with: 
            entrypoint: '/bin/echo'
            args: 'Hello World'
        - name: Step with docker-steps
          uses: docker://node:12.14.1-alpine3.10
          with: 
            entrypoint: '/usr/local/bin/node'
            args: -v
    node-docker:
      runs-on: ubuntu-latest
      services:
        app:
          image: alialaa17/node-api
          ports:
            - 3001:3000
        mongo:
          image: mongo
          ports:
            - 27017:27017
      #container: 
        #image: node:16-alpine3.11
        #ports: 
        #volumes:
        #options: --cpus 1
      steps:
        - name: Log Node version
          run: |
            node -v
            cat /etc/os-release
        - name: Post a user
          run:  "curl -X POST http://localhost:3001/api/user -H 'Content-Type: application/json' -d '{\"username\": \"hello\", \"address\": \"dwded\"}'"
        - name: Get Users
          run: curl http://localhost:3001/api/users