name: Shell Commands

on: [push]

jobs:
  run-shell-command: 
    runs-on: ubuntu-latest
    steps: 
      - name: eccho a string
        run: echo "Hello World"
      - name: mutiline script
        run: |
          node -v
          npm -v
      - name: python Command
        run: |
          import platform
          print
          print(platform.processor())
        shell: python