name: Shell Commands

on: [push]

jobs:
  run-shell-command: 
    runs-on: ubuntu-latest
    steps: 
      - name: eccho a string
        run: ecccho "Hello World"
      - name: mutiline script
        run: |
          node -v
          npm -v